@import "tailwindcss";


/* src/tailwind.css */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

.anton-sc-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

